<h1>Products</h1>
<mat-card>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex>
      <mat-card-title>Product name</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
      <div fxLayout="row">
        <img src="/assets/image-placeholder.png" mat-card-lg-image class="productImage">
        <div fxFlex class="productContent">Description</div>
      </div>
    </div>
    <div>
      <div class="productSize">10.99</div>
    </div>
  </div>
  <mat-card-actions align="end" fxLayoutGap="10">
    <button mat-flat-button color="accent">Show</button>
    <button mat-flat-button color="primary">Add to cart</button>
  </mat-card-actions>
</mat-card>
