<form fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter product name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <textarea matInput rows="20" placeholder="Enter product description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Enter product price">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <input matInput placeholder="Enter product currency">
  </mat-form-field>

  <div fxFlexAlign="end">
    <button mat-flat-button color="primary">Save</button>
  </div>


</form>
